.about-word {
  text-align: center;
  margin: 20px;
  border: black 1px solid;
  border-radius: 5px;
  max-width: 800px;
}

.dictionary-word {
  margin: 10px;
  font-size: 30px;
  text-transform: capitalize;
}

.phonetic-sound {
  margin: 10px;
  font-size: 24px;
  opacity: 0.5;
}
