.dictionary-definition section {
  background-color: white;
  margin: 10px;
}

.part-of-speech {
  margin: 10px;
  font-style: italic;
  font-weight: 200;
  font-size: 22px;
  text-align: left;
}

.word-meaning {
  margin: 10px;
  font-size: 18px;
  text-align: left;
}

.exampleHTML {
  margin: 10px;
  font-size: 18px;
  text-align: left;
}

.word-synonyms {
  opacity: 0.5;
  margin: 10px;
  padding: 10px;
  font-size: 18px;
  text-align: left;
}
