.dictionary-definition section {
  background-color: white;
  margin: 10px;
  border-radius: 5px;
}

.dictionary-definition ul {
  padding: 0;
}

.part-of-speech {
  margin: 10px;
  font-style: italic;
  font-weight: 200;
  font-size: 22px;
  text-align: left;
}

.word-meaning {
  margin: 10px;
  font-size: 18px;
  text-align: left;
}

.exampleHTML {
  margin: 10px;
  font-size: 18px;
  text-align: left;
}

.list {
  text-align: left;
}

.word-synonyms {
  opacity: 0.5;
  font-size: 18px;
  list-style: none;
  display: inline-block;
  padding: 10px;
  margin: 10px;
  max-width: 80%;
}
